.button1 {
      margin-left: 100px;
      }

#signuplady {
  padding-top: 100px;
}

.email-icon {
  color: black;
  max-width: auto;
}


p {
  margin-top: 10px;
}

#logo1 {
  margin-left: 20px;

}

.input-group-prepend {
  background-color: white;
}

.container {
  margin-top:500px;
}