#button1 {
      margin-left: 100px;
      }


body{
  margin-top: 300px;
}

.email-icon {
  color: black;
  max-width: auto;
}


p {
  margin-top: 10px;
}


.form {
  margin-top:5100px;
}

  
.image {
  margin-top: 1000px !important;

}

#logo1 {
  border: 10px solid black !important;
  border-radius: 100px;
}